$friend-link-item-height = 82px
$friend-link-item-height-tablet = 68px
$friend-link-item-interval = 16px
$friend-link-item-border-radius = 9px

@require '../../common/variables'

.page-template-container
  redefine-container(
    false,
    0,
    0,
    30px,
    30px
  )

  +redefine-mobile()
    padding 1.2rem 0.2rem
    box-shadow none

    &:hover
      box-shadow none

  .page-template-content
    color var(--default-text-color)

    h1, h2, h3, h4, h5, h6
      &:first-child
        margin 6px 0 36px 0
        border-bottom none
        line-height 1

  .shuoshuo-content
    img:hover
      cursor zoom-in


  #masonry-container
    position relative
    display grid
    grid-template-columns repeat(auto-fill, minmax(unquote('min(150px, 100%)'), 1fr))
    gap 10px

    @media screen and (min-width: 768px)
      grid-template-columns repeat(auto-fill, minmax(unquote('min(255px, 100%)'), 1fr))

    &.masonry-active
      display block

      .masonry-item
        position absolute

    .masonry-item
      position relative
      box-sizing border-box

      &:hover
        img
          box-shadow var(--redefine-box-shadow)

      img
        width 100%
        border-radius $redefine-border-radius-medium
        box-shadow var(--redefine-box-shadow-flat)
        cursor zoom-in

      .image-placeholder
        width 100%
        border-radius $redefine-border-radius-medium

      .image-fallback
        cursor default

  /* Images */
  .image-container
    position relative

  .image-title
    position absolute
    top 5px
    left 5px
    color var(--default-text-color)
    background-color var(--background-color-transparent-40)
    padding 5px 10px
    font-size 14px
    opacity 0
    backdrop-filter blur(10px)
    -webkit-backdrop-filter blur(10px)
    border-radius $redefine-border-radius-small
    transition opacity 0.2s ease-out

  .image-description
    position absolute
    bottom 11px
    right 5px
    color var(--default-text-color)
    background-color var(--background-color-transparent-40)
    padding 5px 10px
    font-size 14px
    opacity 0
    max-width 80%
    backdrop-filter blur(10px)
    -webkit-backdrop-filter blur(10px)
    border-radius $redefine-border-radius-small
    transition opacity 0.2s ease-out

  figure.image-caption
    img
      margin-bottom 0

    figcaption
      margin-top 5px
      margin-bottom 10px
      text-align center
      font-size 0.9rem
      color var(--third-text-color)

  .image-container:hover .image-title, .image-container:hover .image-description
    opacity 1

  .image-container img
    width 100%
    height auto
    transition box-shadow 0.3s ease-in-out
    overflow hidden

  .image-container:hover img
    box-shadow var(--redefine-box-shadow-hover)
