<div class="nf-container">
    <div class="nf-text">
        <h1>404</h1>
        <h2>Page Not Found</h2>
        <h2>网址是不是输错了嘞</h2>
    </div>
    <div class="nf-button">
        <a href="/" class="button">
            <i class="fa-solid fa-house"></i>
            <%= __('go-back-home') %>
        </a>
    </div>
</div>